body 

{
    background-color: black;
}

.linea-divisora {
  border-bottom: 4px solid crimson;
  border-width: initial;
  border-spacing: initial;
}

a {
    color: white;
}

p {
    color: crimson;
    font-family: fantasy;
}

h1 {
    color: white;
    font-family: cursive;
    font-style: italic;
    font-weight: bolder;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


  .contenedor-padre {
    position: relative;
  }
  
  .clase-elemento {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p {
    text-align: center;
  }
    h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  h4 {
    text-align: center;
    font-family: fantasy;
    color: crimson;
    font-weight: 200;
    font-size: small;
    
  }
  img {
    text-align: center;
  }